In [104]:
#############FUNCIÓN QUE ESCRIBE LOS DATOS DE LAS MAGNITUDES DE VELOCIDAD EN .csv###################
#Los datos de las velocidades en .csv
import csv 
import pandas as pd

with open('datos_magnitud_velocidades','w',newline = '') as file:
    writer = csv.writer(file)
    for j in range(nt):
        writer.writerow(lista_magnitudes_velocidad[j])

r = csv.reader(open('datos_magnitud_velocidades')) # Here your csv file
lines = list(r)
dv=lines[0]
veldatos=list(dv)

for i in range(len(lines)-1, -1, -1):
     if not lines[i]:
         del lines[i]

n=list(range(101))
n.pop(0)

datos={'Magnitud Velocidad':veldatos, 'Número de partículas': n}
df = pd.DataFrame(datos, columns = ['Magnitud Velocidad', 'Número de partículas'])
df.to_csv('DatosMagnitudVelocidades.csv')

In [105]:
df = pd.read_csv('DatosMagnitudVelocidades.csv')
df

    Unnamed: 0  Magnitud Velocidad  Número de partículas
0            0          103.076804                     1
1            1          126.583352                     2
2            2          106.466172                     3
3            3           96.657442                     4
4            4           87.718529                     5
..         ...                 ...                   ...
95          95           95.876980                    96
96          96          119.471492                    97
97          97          106.047227                    98
98          98           87.637697                    99
99          99          113.796195                   100

[100 rows x 3 columns]